@import "tailwindcss";

.card {
    position: relative;
}

.card .front{
    position: absolute;
    transform: rotateY(90deg);
    transition: 300ms all ease-in;
}

.card .back {
    transition: 300ms all ease-in;
    transform: rotateY(0deg);
}

.rotated .front {
    transform: rotateY(0deg);
}

.rotated .back {
    transform: rotateY(90deg);
}